In [1]:
# Import pandas as pd
import pandas as pd

# Assign the filename: file
file = 'Waller_Creek_Water_Quality_Data.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
print(df.head())

   DATA_REF_NO  DEPTH_IN_METERS FILTER  LAT_DD_WGS84  LON_DD_WGS84  \
0    2387511.0              NaN  Total     30.261942    -97.739349
1    2386425.0              NaN  Total     30.262757    -97.738144
2    2386418.0              NaN  Total     30.297591    -97.727249
3    2386395.0              NaN  Total     30.297591    -97.727249
4     696760.0              NaN  Total     30.262757    -97.738144

          MEDIUM          PARAM_TYPE                PARAMETER  \
0  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
1  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
2  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
3  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
4  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA

           PROJECT RESULT   SAMPLE_DATE SAMPLE_ID  SAMPLE_REF_NO  \
0  Water Watch Dog    100   7/6/90 0:00       NaN       479313.0
1  Water Watch Dog  5,600  10/5/90 0:00       NaN       479278.0
2  Water Watch Dog  2,500  10/5/90 0:00       NaN       479277.0
3  Water Watch Dog      0  11/2/90 0:00       NaN       479274.0
4  Water Watch Dog  2,950  1/31/91 0:00       NaN        68152.0

   SAMPLE_SITE_NO                              SITE_NAME SITE_TYPE  \
0          5652.0            Waller Creek @ Cesar Chavez    Stream
1           485.0  Waller Creek Downstream of 3rd Street    Stream
2           625.0    Waller Creek @ 38th St. (USGS); W8A    Stream
3           625.0    Waller Creek @ 38th St. (USGS); W8A    Stream
4           485.0  Waller Creek Downstream of 3rd Street    Stream

             UNIT     WATERSHED
0  Colonies/100mL  Waller Creek
1  Colonies/100mL  Waller Creek
2  Colonies/100mL  Waller Creek
3  Colonies/100mL  Waller Creek
4  Colonies/100mL  Waller Creek

In [9]:
df['SAMPLE_SITE_NO'].value_counts()

624.0      386
625.0      238
2357.0     103
485.0       93
38.0        90
781.0       81
780.0       38
4349.0      32
4475.0      24
1851.0       8
1162.0       7
10441.0      4
210.0        3
10447.0      3
208.0        3
2352.0       3
10600.0      3
10530.0      3
1314.0       3
4917.0       3
293.0        2
1315.0       2
2739.0       2
290.0        2
291.0        2
292.0        2
212.0        2
1040.0       2
209.0        2
10602.0      2
211.0        2
10601.0      2
2734.0       2
10607.0      2
5652.0       1
1317.0       1
738.0        1
672.0        1
670.0        1
739.0        1
4204.0       1
4205.0       1
671.0        1
1318.0       1
4206.0       1
673.0        1
10446.0      1
10440.0      1
10490.0      1
2737.0       1
674.0        1
1319.0       1
Name: SAMPLE_SITE_NO, dtype: int64

In [3]:
df.groupby('SAMPLE_SITE_NO').size()

SAMPLE_SITE_NO
38.0        90
208.0        3
209.0        2
210.0        3
211.0        2
212.0        2
290.0        2
291.0        2
292.0        2
293.0        2
485.0       93
624.0      386
625.0      238
670.0        1
671.0        1
672.0        1
673.0        1
674.0        1
738.0        1
739.0        1
780.0       38
781.0       81
1040.0       2
1162.0       7
1314.0       3
1315.0       2
1317.0       1
1318.0       1
1319.0       1
1851.0       8
2352.0       3
2357.0     103
2734.0       2
2737.0       1
2739.0       2
4204.0       1
4205.0       1
4206.0       1
4349.0      32
4475.0      24
4917.0       3
5652.0       1
10440.0      1
10441.0      4
10446.0      1
10447.0      3
10490.0      1
10530.0      3
10600.0      3
10601.0      2
10602.0      2
10607.0      2
dtype: int64

In [13]:
#filter data for Bacteria/Pathogens data
df2 = df[df['PARAM_TYPE'] == 'Bacteria/Pathogens']
print(df2.head())

   DATA_REF_NO  DEPTH_IN_METERS FILTER  LAT_DD_WGS84  LON_DD_WGS84  \
0    2387511.0              NaN  Total     30.261942    -97.739349
1    2386425.0              NaN  Total     30.262757    -97.738144
2    2386418.0              NaN  Total     30.297591    -97.727249
3    2386395.0              NaN  Total     30.297591    -97.727249
4     696760.0              NaN  Total     30.262757    -97.738144

          MEDIUM          PARAM_TYPE                PARAMETER  \
0  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
1  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
2  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
3  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA
4  Surface Water  Bacteria/Pathogens  FECAL COLIFORM BACTERIA

           PROJECT RESULT   SAMPLE_DATE SAMPLE_ID  SAMPLE_REF_NO  \
0  Water Watch Dog    100   7/6/90 0:00       NaN       479313.0
1  Water Watch Dog  5,600  10/5/90 0:00       NaN       479278.0
2  Water Watch Dog  2,500  10/5/90 0:00       NaN       479277.0
3  Water Watch Dog      0  11/2/90 0:00       NaN       479274.0
4  Water Watch Dog  2,950  1/31/91 0:00       NaN        68152.0

   SAMPLE_SITE_NO                              SITE_NAME SITE_TYPE  \
0          5652.0            Waller Creek @ Cesar Chavez    Stream
1           485.0  Waller Creek Downstream of 3rd Street    Stream
2           625.0    Waller Creek @ 38th St. (USGS); W8A    Stream
3           625.0    Waller Creek @ 38th St. (USGS); W8A    Stream
4           485.0  Waller Creek Downstream of 3rd Street    Stream

             UNIT     WATERSHED
0  Colonies/100mL  Waller Creek
1  Colonies/100mL  Waller Creek
2  Colonies/100mL  Waller Creek
3  Colonies/100mL  Waller Creek
4  Colonies/100mL  Waller Creek

In [14]:
#count sample_site_no for Bacteria/Pathogens
df2['SAMPLE_SITE_NO'].value_counts()

624.0      386
625.0      238
2357.0     103
485.0       93
38.0        90
781.0       81
780.0       38
4349.0      32
4475.0      24
1851.0       8
1162.0       7
10441.0      4
4917.0       3
2352.0       3
1314.0       3
208.0        3
210.0        3
10447.0      3
10530.0      3
10600.0      3
292.0        2
290.0        2
10601.0      2
211.0        2
293.0        2
1315.0       2
10602.0      2
209.0        2
1040.0       2
2734.0       2
10607.0      2
291.0        2
2739.0       2
212.0        2
1317.0       1
670.0        1
674.0        1
4205.0       1
1319.0       1
738.0        1
5652.0       1
739.0        1
673.0        1
671.0        1
1318.0       1
4206.0       1
2737.0       1
10490.0      1
10440.0      1
10446.0      1
4204.0       1
672.0        1
Name: SAMPLE_SITE_NO, dtype: int64